.localization-form {
  display: flex;
  flex-direction: column;
  flex: auto 1 0;
  padding: 1rem;
  margin: 0 auto;
}

.localization-form:only-child {
  display: inline-flex;
  flex-wrap: wrap;
  flex: initial;
  padding: 1rem 0;
}

/* .localization-form:only-child .button,
.localization-form:only-child .localization-form__select {
  margin: 1rem 1rem 0.5rem;
  flex-grow: 1;
} */

.desktop-localization-wrapper.mobile{ position: absolute;left: 50px;top: 53%;transform: translateY(-50%); margin: 0;}

@media screen and (min-width: 750px) {
  .localization-form {
    padding: 1rem 2rem 1rem 0;
  }

  .localization-form:first-of-type {
    padding-left: 0;
  }

  .localization-form:only-child {
    justify-content: start;
    width: auto;
    margin: 0 0rem 0 0;
  }

  .localization-form:only-child .button,
  .localization-form:only-child .localization-form__select {
    margin: 0;
  }
}

@media screen and (max-width: 989px) {
  noscript .localization-form:only-child {
    width: 100%;
  }
}

.localization-form .button {
  padding: 1rem;
}

.localization-form__currency {
  display: inline-block;
}

@media screen and (max-width: 749px) {
  .localization-form .button {
    word-break: break-all;
  }
}

.localization-form__select {
  border-radius: var(--inputs-radius-outset);
  position: relative;  
  text-align: left;  
}

.disclosure__button.localization-form__select {
  padding: 0;
  background: rgb(var(--color-background));
}

noscript .localization-form__select {
  padding-left: 0rem;
}

@media screen and (min-width: 750px) {
  noscript .localization-form__select {
    min-width: 20rem;
  }
}

.localization-form__select .icon-caret {
  position: absolute;
  content: '';
  height: 0.6rem;
  right: calc(var(--inputs-border-width) + 1.5rem);
  top: calc(50% - 0.2rem);
}

.localization-selector.link {
  text-decoration: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: rgb(var(--color-foreground));
  width: 100%;
  padding-right: 0;
  padding-bottom: 0;
}

noscript .localization-selector.link {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.disclosure .localization-form__select {
  padding: 0 7px;
  outline: none;
  box-shadow: none;
}
.disclosure .localization-form__select .country_icon{width: 26px;height: 20px;}
.disclosure .localization-form__select::after, .disclosure .localization-form__select::before{ display: none;}

.localization-selector option {
  color: #000000;
}

.localization-selector + .disclosure__list-wrapper {
  opacity: 1;
  animation: animateLocalization var(--duration-default) ease;
}

.disclosure {
  position: relative;
}

.disclosure__button {
  align-items: center;
  cursor: pointer;
  display: flex;    
  font-size: 1.3rem;
  background-color: transparent;
}
.disclosure:hover .disclosure__list-wrapper{ opacity: 1 !important; visibility: visible;transform: scale(1);}
.disclosure__list-wrapper {  
  overflow: hidden;
  position: absolute;
  bottom: auto;
  top: 24px;
  z-index: 2;
  background-color: rgb(var(--color-background));
  border-radius: var(--popup-corner-radius);  
  opacity: 0 !important;  
  visibility: hidden;
  transform: scale(0.1);
  transform-origin: top left;
  transition: all 0.3s linear;
}

.disclosure__list {
  position: relative;
  overflow-y: auto;
  font-size: 1.3rem;
  padding-bottom: 0rem;
  padding-top: 0rem;
  scroll-padding: 0.5rem 0;
  min-height: 8.2rem;
  max-height: 20.65rem;
  max-width: 22rem;
  min-width: 12rem;
  width: max-content;
}

.disclosure__item {
  position: relative; 
}

.disclosure__link {
  display: flex;
  align-items: center;
  padding: 5px 7px;
  text-decoration: none;  
  color: rgba(var(--color-foreground), 0.75);
  word-break: break-word;
  font-size: 1.3rem;
}
.disclosure__link .country_icon{width: 26px;height: 20px;object-fit: contain; margin-right: 6px;}
.disclosure__link:hover {
  color: rgb(var(--color-foreground));
}

/* .disclosure__link--active {
  text-decoration: underline;
} */

.disclosure__button[aria-expanded='true'] .icon-caret {
  transform: rotate(180deg);
}

/* Header localization */
.header-localization .localization-form:only-child {
  margin: 0;
  padding: 0;
}

.header-localization .disclosure .localization-form__select {
  font-size: 1.4rem;
  letter-spacing: 0.06rem;
  height: auto;
  min-height: initial;
  background: transparent;
}

.header-localization .disclosure .localization-form__select:hover {
  text-decoration: underline;
}

.header-localization .localization-form__select.link:after,
.header-localization .localization-form__select.link:before {
  box-shadow: none;
}

.header-localization .localization-form__select.link:focus-visible {
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
  outline-offset: -0.2rem;
  box-shadow: 0 0 0.2rem 0 rgba(var(--color-foreground), 0.3);
}

/* Header icons (desktop) */
.desktop-localization-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 3rem;
  margin-right: -8px;
}

.desktop-localization-wrapper .localization-selector + .disclosure__list-wrapper {
  animation: animateMenuOpen var(--duration-default) ease;
}

.desktop-localization-wrapper .localization-form:only-child {
  padding: 0;
}

.header-localization:not(.menu-drawer__localization) {
  align-items: center;
}

.js .header-localization:not(.menu-drawer__localization) .localization-form__select {
  padding: 0 2.7rem 0 1.2rem;
  width: max-content;
  height: 3.8rem;
}

.header-localization:not(.menu-drawer__localization) .localization-form:only-child .localization-form__select {
  margin: 0;
}

.header-localization:not(.menu-drawer__localization).localization-form__select > span {
  max-width: 20ch;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header-localization:not(.menu-drawer__localization) localization-form:only-child .localization-form__select > span {
  max-width: 26ch;
}

.header-localization:not(.menu-drawer__localization) .localization-form__select .icon-caret {
  right: 0.8rem;
}

.header-localization:not(.menu-drawer__localization) .disclosure__list-wrapper {
  bottom: initial;
  top: 100%;
  right: 0;
  transform: translateY(0);
}

/* Menu drawer */
@media screen and (min-width: 990px) {
  .menu-drawer__localization {
    display: none;
  }
}

.menu-drawer__localization localization-form {
  display: block;
}

.menu-drawer__localization .localization-form__select {
  background-color: initial;
  margin-top: 0;
  padding: 1rem 3.6rem 1rem 0rem;
}

.menu-drawer__localization .localization-form {
  padding: 0;
}

.menu-drawer__localization .localization-form:only-child .localization-form__select {
  margin: 0;
}

.menu-drawer__localization + .list-social {
  margin-top: 1rem;
}

.menu-drawer__localization noscript .localization-form__select {
  padding: initial;
}
