.does_it_work .main_text .heading { font-size: calc(var(--font-heading-scale) * 2.8rem); text-transform: uppercase; margin-bottom: 30px; max-width: 300px; }
.does_it_work .main_text .text { font-size: calc(var(--font-body-scale) * 1.4rem); margin-bottom: 30px; line-height: 18px; margin-top: 0; }

.does_it_work .main_video_with_image { position: relative; padding-bottom: 100px; margin-bottom: 5px; }
.does_it_work .main_video_with_image.full_video_image { padding-bottom: 0; }
.does_it_work .main_video_with_image .back_image { position: relative; max-width: 62%; width: 100%; margin-left: auto;  overflow: hidden; } 
.does_it_work .main_video_with_image .back_image::after { content: ''; display: block; padding-bottom: 140%; } 
.does_it_work .main_video_with_image.full_video_image .back_image img{ position: relative;}
.does_it_work .main_video_with_image.full_video_image .back_image::after{ display: none;}
.does_it_work .main_video_with_image .back_image img { max-width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; border: 1px solid #000;} 
.does_it_work .main_video_with_image.full_video_image .back_image { max-width: unset; } 
.does_it_work .main_video_with_image .product_main_video { width: 58%; max-width: 58%; position: absolute; bottom: 0px; left: 0px; }
.does_it_work .main_video_with_image .product_main_video .video-section__media { padding-bottom: 0; }
.does_it_work .main_video_with_image.full_video_image .product_main_video { width: 100%; max-width: unset; position: relative; left: unset; bottom: 0; } 
.does_it_work .main_video_with_image .product_main_video video { object-position: center center; width: 90% !important; height: auto !important; position: relative; }

.does_it_work .multiple_image_text { display: grid; grid-template-columns: repeat(2, 1fr); gap: 50px; padding-top: 20px; }
.does_it_work .multiple_image_text .icon_text .icon_image { max-width: 50px; width: 100%; height: 50px; margin: 0 auto; }
.does_it_work .multiple_image_text .icon_text .icon_image img { max-width: 100%; }
.does_it_work .multiple_image_text .icon_text .icon_content { margin-top: 20px; }
.does_it_work .multiple_image_text .icon_text .icon_content .text { margin: 0; font-size: calc(var(--font-body-scale) * 1.3rem); line-height: 18px; font-weight: var(--font-weight-Medium); font-family: var(--Metropolis-Medium); color: #000; }