.custom-product-review-section .title{width: 100%; line-height: 35px;margin: 0 0 3rem 0;font-size: calc(var(--font-body-scale) * 2.3rem); font-family: var(--Metropolis-Extrabold); font-weight: var(--font-weight-Extrabold);color: #212529; text-transform: uppercase; text-align: center;}
.custom-product-review-section .product-reviews-list{ column-gap: 50px;}
.custom-product-review-section .product-reviews-list .product-review-wrapper {margin-bottom: 30px; display: flex !important; flex-direction: column; gap: 15px; padding-bottom: 35px; position: relative;}
.custom-product-review-section .product-reviews-list .product-review-wrapper::after{ content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 5px; border-radius: 15px; background-color: #212529;}
.custom-product-review-section .product-reviews-list .product-review-wrapper .heading-image-wrap { display: flex; align-items: center; gap: 10px; }
.custom-product-review-section .product-reviews-list .product-review-wrapper .heading-image-wrap .profile-img { width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; border-radius: 100%; position: relative; object-fit: cover; overflow: hidden;}
.custom-product-review-section .product-reviews-list .product-review-wrapper .heading-image-wrap .profile-img img { border-radius: 100%; object-fit: contain; width: 100%;}

.custom-product-review-section .product-reviews-list .product-review-wrapper .heading-image-wrap .heading-sub h3 { margin: 0 0 2px; font-size: calc(var(--font-heading-scale) * 2rem);font-family: var(--Metropolis-Semibold);font-weight: var(--font-weight-Semibold);}
.custom-product-review-section .product-reviews-list .product-review-wrapper .heading-image-wrap .heading-sub .product_review_ratings{ display: flex; align-items: center; column-gap: 2px; list-style: none; margin: 0; padding: 0;}
.custom-product-review-section .product-reviews-list .product-review-wrapper .heading-image-wrap .heading-sub .product_review_ratings .star-icon svg{ width: 13px; height: 13px; fill: #c8bcbc;}
.custom-product-review-section .product-reviews-list .product-review-wrapper .heading-image-wrap .heading-sub .product_review_ratings .star-icon.yellow svg{ fill: #fcaa08;}
.custom-product-review-section .product-reviews-list .product-review-wrapper .review-description {font-family: var(--Metropolis-Medium);font-weight: var(--font-weight-Medium); line-height: calc(var(--font-body-scale) * 1.9rem); color: #212529;font-size: calc(var(--font-body-scale) * 1.6rem);}
.custom-product-review-section .product-reviews-list .product-review-wrapper .review-description p{ margin: 0;}

.custom-product-review-section .product-reviews-list.product_reviews_slider .product-review-wrapper{ height: 100%;}
.custom-product-review-section .product-reviews-list.product_reviews_slider .slick-list{ margin: 0 -25px;}
.custom-product-review-section .product-reviews-list.product_reviews_slider .slick-track{ display: flex;}
.custom-product-review-section .product-reviews-list.product_reviews_slider .slick-slide{ padding: 0 25px; height: auto;}
.custom-product-review-section .product-reviews-list.product_reviews_slider .slick-slide > div{ height: 100%;}

.custom-product-review-section .product-reviews-list.product_reviews_slider .slick-dots{ bottom: -40px;}
.custom-product-review-section .product-reviews-list.product_reviews_slider .slick-dots li{ width: auto; height: auto;}
.custom-product-review-section .product-reviews-list.product_reviews_slider .slick-dots li button{ width: 10px; height: 10px;background-color: rgb(0 0 0 / 25%);border-radius: 50%; padding: 0; transition: all 0.3s linear;}
.custom-product-review-section .product-reviews-list.product_reviews_slider .slick-dots li.slick-active button{background-color: rgb(0 0 0);}
.custom-product-review-section .product-reviews-list.product_reviews_slider .slick-dots li button::before{ display: none;}

@media only screen and (max-width: 575px){
    .custom-product-review-section .product-reviews-list.column_count{ grid-template-columns: repeat(1, 1fr);}
}













